.form .container {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.form .item {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
}

.form .item:nth-child(10) {
  background-color: unset;
}
